@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var holidays = (QuickType.Holiday[])ViewData["Holiday"];
}

<div class="text-center">
    <h1 class="display-4">Holidays</h1>
    <hr/>
    <table border="1" width="90%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Type</th>
            <th>Locations</th>
            <th>States</th>
        </tr>
        @{
            foreach(QuickType.Holiday holiday in holidays) {
            <tr>
                <th>@holiday.Name</th>
                <th>@holiday.Description</th>
                <th>@holiday.Date</th>
                <th>@holiday.Type</th>
                <th>@holiday.Locations</th>
                <th>@holiday.States</th>
            </tr>
        }
        }
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
